
#app {
    position: relative;
    overflow: hidden;
    width: 1280px;
    height: 720px;
    top: 50%;
    margin: -360px auto 0 auto;
    background-image: url(../../img/downloadbg.jpg);
}

#helloWorldLabel, #welcomeLabel {
    display: block;
    text-align: center;
}

#helloWorldLabel {
    font-size: 60px;
    padding-top: 170px;
    font-weight: bold;
    margin-bottom:30px;
}

#welcomeLabel {
    font-size: 26px;
    margin-bottom:75px;
}

#simplecarousel_mask {
    top: 156px;
}


.description {
    top: 65px;
    font-size: 26px;
}

#playerButtons {
    bottom: 39px;
    width: 780px;
    padding: 10px;
    left: 235px;
}

#carouselComponent > .carouselmask.horizontal {
    width: 960px;
}

#carouselComponent > .carouselmask.vertical {
    height: 600px;
    width: 264px
}

#carouselComponent > .description {
    margin-bottom: 64px;
}